@use '@angular/material' as mat;
:root {
  @include mat.fab-overrides((
    container-color: orange,
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),

  ));
}

table {
  width: 100%;
}

:host{
  display: block;
  padding: 0 24px;
  margin-top: 20px;

  width: 100vw;

}

.show-sidebar{
  background-color: #fafafa;
  width: 200px;
  height: 100vw;
}

.sidebar-content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  justify-content: center;

}

//.menu-button{
//  border-radius: 10px;
//  text-align: left;
//  height: 40px;
//
//  color: black;
//  container-color: orange,
//}

.show-sidebar {
  .menu-button {
    border-radius: 10px;
    height: 40px;
    color: black;
    font-weight: 500;

    justify-content: flex-start !important;
    text-align: left;

    &:hover{
      background-color: #f4f4f4;
    }
  }
}


.sidebar-header{
  margin-left: 10px;

}

.header-logout{
  display: flex;
  justify-content: space-between;
}

.logout-button{
  margin-top: 20px;
  height: 40px;
  width: 40px;
  color-scheme: primary;
  margin-right: 40px;
}

.mat-button{
  height: 40px;
  width: 40px;
}

.add-button{
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.mat-buttons{
  display: grid;
  grid-template-columns: 10px 10px;
  grid-gap: 50px;
}

.search-input{
  height: 70px;
}
