<h1 mat-dialog-title style="text-align: center; margin-top: 30px">
  {{ data ? 'Edit student' : 'Add student' }}
</h1>
<div mat-dialog-content style="text-align: center; margin-top: 20px">

  <mat-form-field class="full-width-input" >
    <input matInput type="text" placeholder="fio"
           [(ngModel)]="editingStudent.username" required>
  </mat-form-field>
  <mat-form-field class="full-width-input" >
    <input matInput type="text" placeholder="fio"
           [(ngModel)]="editingStudent.role" required>
  </mat-form-field>
  <mat-form-field class="full-width-input" >
    <input matInput type="text" placeholder="fio"
           [(ngModel)]="editingStudent.fio" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="phoneNumber"
           [(ngModel)]="editingStudent.phone_number" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="group"
           [(ngModel)]="editingStudent.groups.id" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="group"
           [(ngModel)]="editingStudent.groups.groupName" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="group"
           [(ngModel)]="editingStudent.enable" required>
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button  mat-raised-button color="primary"
          [mat-dialog-close]="editingStudent">Add</button>
  <button class="right-align" mat-raised-button (click)="onNoClick()">Cancel</button>

</div>
