:host{
  display: block;
  padding: 0 24px;
}

.show-sidebar{
  background-color: #fafafa;
  width: 200px;
}

.sidebar-content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  justify-content: center;

}


.show-sidebar {
  .menu-button {
    border-radius: 10px;
    height: 40px;
    color: black;
    font-weight: 500;

    justify-content: flex-start !important;
    text-align: left;

    &:hover{
      background-color: #f4f4f4;
    }
  }
}


.sidebar-header{
  margin-left: 10px;

}

.sidenav-content{
  height: 100vh;
}
