table {
  width: 100%;
}

:host{
  display: block;
  padding: 0 24px;
  margin-top: 20px;

  width: 100vw;

}

.show-sidebar{
  background-color: #f3f3f3;
  width: 200px;
  height: 100vw;
}

.mat-button{
  color: black;
  icon-color: red;
}

.sidebar-content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  justify-content: center;

}

.menu-button{
  border-radius: 10px;
  text-align: left;
  height: 40px;

  color: black;
}




.sidebar-header{
  margin-left: 10px;

}
