<form
  class="register-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)"
>

  <h1 class="register-header">Registration</h1>

  @if(error()){
    <div class="error">* This is login already use</div>
  }

  <mat-form-field>
    <mat-label class="input-label">Username</mat-label>
    <input
      formControlName="username"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="input-label">FIO</mat-label>
    <input
      formControlName="fio"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="input-label">Your phone number</mat-label>
    <input
      formControlName="phoneNumber"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select formControlName="groupId" name="group">
      @for (group of allGroups; track group) {
        <mat-option [value]="group.id">{{group.groupName}}</mat-option>
      }
    </mat-select>
  </mat-form-field>



  <br>
  <mat-form-field>
    <mat-label class="input-label">Enter your password</mat-label>
    <input
      formControlName="password"
      matInput [type]="hide() ? 'password' : 'text'" />
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

<!--  <mat-form-field>-->
<!--    <mat-label>Favorite food</mat-label>-->
<!--    <mat-select>-->
<!--      @for (group of foods; track food) {-->
<!--        <mat-option [value]="food.value">{{food.viewValue}}</mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->






  <br>
  <div class="login-register-buttons">
    <button matButton="filled" type="submit">Register</button>
    <button matButton="tonal" (click)="toLogin()">Login</button>
  </div>
</form>
