.user-block h4,
.user-block h5 {
  margin: 0;
  padding: 0;
}

.fio {
  margin-top: 15px;
}

.user-block h5 {
  margin-top: 2px;
}

.user-block{
  background-color: #ececec;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.mat-button{
  height: 40px;
  width: 40px;
  border: none;
  background-color: #ececec;
}

.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.name-block {
  margin-left: 0;
}

.button-block {
  margin-right: 0;
}

.avatar{
  margin-top: 7px;
  margin-left: 5px;
}

.avatar-name{
  display: flex;
}

.fio-username{
  margin-left: 15px;
  gap: 1px;
}
