
<div class="user-block">
  <div class="text">
    <div class="name-block">
        <h4 class="fio">{{currentUser.fio}}</h4>
        <h5 class="username">@{{currentUser.username}}</h5>
    </div>
    <div class="button-block">
        <div class="mat-buttons">
<!--            <button (click)="editStudent(currentUser)" class="mat-button" matFab aria-label="Example icon button with a delete icon">-->
<!--                <mat-icon>edit</mat-icon>-->
<!--            </button>-->
          <button (click)="editStudent(currentUser)" class="mat-button" matIconButton aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
    </div>
  </div>
</div>


